* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
.container {
    background: linear-gradient(0deg, #211F20 0%, #44403F 100%);
}
.navbar {
    padding: 10px 80px;
}
.nav__link {
    color: var(--text-color);
    text-decoration: none;
}
.banner {
    padding: 90px 120px  50px;
}
.card {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
}
.image {
    width: 599px;
    height: 399px;
}
.info {
    color: #fff;
    border-radius: 10px;
    background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
    padding:  30px 40px;
}
.info__showing {
    color: var(--text-color);
    font-size: 0.875rem;
}
.btn-back {
    color: #fff;
}
.shop {
    display: flex;
    gap: 25px;
}
.shop__money {
    font-size: 25px;
}
.btn-shop {
    color: #fff;
    border-radius: 10px;
    background: linear-gradient(115deg, #618967 5.11%, #72A479 94%);
}
.static {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
